.Welcome {
  /* @media (min-width: calc(1.53rem + 7.5rem + 1.53rem + 14rem + 1.53rem)) { */
  @media (min-width: 26.09em) {
    display: grid;
    grid-template-columns: minmax(7.5rem, 14rem) minmax(14rem, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 1.53rem;
    margin-bottom: 3.06rem;
  }

  @media (min-width: 60em) {
    display: block;
    margin-bottom: 0;
  }
}

.Title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 0;

  @media (min-width: 60em) {
    margin-bottom: 1.53rem;
  }
}

.ProfilePhoto {
  border-radius: 50%;
  grid-row: 1 / span 2;
  margin: 0 auto;
  max-width: 14rem;
  align-self: flex-start;

  @media (min-width: 26.03em) {
    margin: 0;
  }

  @media (min-width: 60em) {
    align-self: center;
    margin: 0 auto 1.53rem;
  }
}
