.BlogPostPage {

  @media (min-width: 48em) {
    display: grid;
    grid-template-columns: 1fr minmax(12rem, 16rem);
    grid-gap: 3.06rem;
  }
}

.Title {
  margin-bottom: 0.765rem;
}

.BlogNavigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  & a {
    max-width: 40%;

    &[rel='next'] {
      margin-left: auto;
      text-align: right;
    }

    /* & svg {
      position: relative;
      top: 0.125em;
    } */

    & p {
      font-weight: bold;
    }
  }
}

.BlogSidebar {
  & h3 {
    border-bottom: 2px solid var(--colorSeparator);
    margin-bottom: 0.765rem;
  }
}
