.Title {
  margin-bottom: 0.765rem;
}

.BlogNavigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  & a {
    max-width: 40%;

    &[rel='next'] {
      margin-left: auto;
      text-align: right;
    }

    & svg {
      /* vertical-align: middle; */
      position: relative;
      top: 0.125em;
    }

    & span {
      display: block;
      padding-left: 1rem;
    }

    & p {
      /* font-family: 'Montserrat', sans-serif; */
    }
  }
}
