.PageContent {
  margin: 2rem auto 0;
  max-width: 90rem;
  padding: 0 1.53rem;

  @media (min-width: 48em) {
    padding: 0 3.96rem;
  }
}

.SiteFooter {
  align-items: center;
  background: white;
  display: flex;
  margin: 0 auto;
  max-width: 90rem;
  padding: 1.53rem 3.96rem;
}

.Copyright {
  margin: 0 0 0 auto;
}
