.Book {
  display: grid;
  grid-template-columns: 1fr minmax(7.5rem, 15rem);
  grid-gap: 1.53rem;
  margin-bottom: 1.53rem;

  & h2 {
    grid-column: 1 / span 2;
    margin-bottom: 0;
  }
}

.BuyButtons {
  display: flex;
  flex-flow: row wrap;
  margin: 1.53rem 0 0;

  & a {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
